.main-container{
     .orderDetails{
            flex-wrap: nowrap;
            font-size: 16px;
            color: black;

            font-family: 'Koulen', sans-serif;
            font-style: normal;
            .box{
                box-sizing: border-box;
        
                display: flex;
                position: relative;


                width: 343px;
                height: 43px;
                
                margin-top: 10px;
                left: 6px;
                        
                background: #FFFFFF;
                border: 1px solid #ECE9E9;
                border-radius: 3px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                
                .green {
                    background-color: green;
                }
                
                .red {
                    background-color: red;
                }
                
                .id{
                    position: relative;
                    left: 2px;
                    padding-top: 2.5%;
                }
                
                .address{
                    position: relative;
                    text-align: center;
                    width: 58%;
                    left: 30px;
                    padding-top: 2.5%;
                }
    
                .volume{
                    position: relative;
                    text-align: center;
                    width: 10%;
                    left: 36px;
                    padding-top: 2.5%;
    
                }
    
                .dist{
                    position: relative;
                    text-align: center;
                    width: 15%;
                    left: 43px;
                    padding-top: 2.5%;
    
                }
            }


        }
}