<div class="map-container">
    <div id="map"></div>
</div>

<div class="box-container">
  <ng-template [ngIf]="closeInfo===false">
    <div class="info-card">
      <button class="close-button" (click)="closeCard('info')">
        <mat-icon>close</mat-icon>
      </button>
      <div class="info-img">
        <img [src]="imageBasePath + 'info.png'" >
        <p class="text text-black"> INFORMATION CARD</p>
      </div>
      <div class="active-drivers">
        <img [src]="imageBasePath + 'delivery.png'" >
        <p class="text text-black">ACTIVE DRIVERS:</p>
        <div class="num-active text text-black">{{infoCard['active_drivers']}}</div>
        <div class="line"></div>
      </div>
      <div class="ongoing-orders">
        <img [src]="imageBasePath + 'available.png'" >
        <p class="text text-black">ONGOING ORDERS:</p>
        <div class="num-active text text-black">{{infoCard['ongoing']}}</div>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="closeDriver === false">
    <div class="selected-card">
      <div class="info">
        <img class="delivery" [src]="imageBasePath + 'delivery.png'" >
        <p class="name text text-black">{{this.selectedDriverInfo['name']}}</p>
        <p class="surname text text-black">{{this.selectedDriverInfo['surname']}}</p>
        <img class="phone-img" [src]="imageBasePath + 'phone.png'" >
        <p class="phone text text-black">{{this.selectedDriverInfo['phone']}}</p>
        <div class="ongoing-orders">
          <img [src]="imageBasePath + 'available.png'">
          <p class="text text-black">TOTAL ORDERS:  {{this.selectedDriverInfo['total_orders']}}</p>
        </div>
        <div class="total-distance">
          <img [src]="imageBasePath + 'distance.png'">
          <p class="text text-black">DISTANCE COVERED:  {{this.selectedDriverInfo['distance']}} KM</p>
        </div>
      </div>
      <div class="spinner">
        <mat-spinner mode="determinate" [value]="spinnerValue"></mat-spinner>
        <p class="text workshift-text text-black">WORK SHIFT</p>
        <p>12 : 59 HOURS</p>
      </div>
      <button class="close-button" (click)="closeCard('driver')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>
</div>
