<div class="map-container">
    <div id="map"></div>
</div>

<div class="box-container">
  <div class="info-card">
    <div class="info-img">
      <img [src]="imageBasePath + 'info.png'" >
      <p class="text text-black"> INFORMATION CARD</p>
    </div>
    <div class="active-drivers">
      <img [src]="imageBasePath + 'delivery.png'" >
      <p class="text text-black">ACTIVE DRIVERS:</p>
      <div class="num-active text text-black">100</div>
      <div class="line"></div>
    </div>
    <div class="ongoing-orders">
      <img [src]="imageBasePath + 'available.png'" >
      <p class="text text-black">ONGOING ORDERS:</p>
      <div class="num-active text text-black">100</div>
    </div>
  </div>
</div>
