<div class="content" *ngIf="content === 0">
  <button mat-button class="widget_option" (click)="SelectScreen(screens[i])" *ngFor="let option of buttons;let i=index;">
    <div class="text text-size-title text-white">
      {{option}}
    </div>
  </button>
</div>

<div class="available_screens" *ngIf="content === 1">
  <button mat-button class="widget_option" *ngFor="let option of available_screens;let i=index;" (click)="SelectCell(i);" 
          [ngStyle]="{backgroundColor: option===false ? '#F0F6FF' : '#85A8C9', 'pointer-events': option===false ? 'none' : 'all'}">
    <div class="text text-size-title text-white">
      <ng-container *ngIf="option === true">
        <img src="{{this.img_path}}available.png" class="icon">
      </ng-container>
      <ng-container *ngIf="option === false">
        <img src="{{this.img_path}}occupied.png" class="icon">
      </ng-container>
    </div>
  </button>
</div>
