<div class="main-container">
    <div class="grid">
        <mat-grid-list [cols]="3" rowHeight="50%">
            <mat-grid-tile  
                *ngFor="let cell of getActiveCells()"
                [colspan]="getColSpan(cell.id)"
                [rowspan]="getRowSpan(cell.id)"
                [ngClass]="{ 'multi-row' : (getRowSpan(cell.id) === 2)}">
                <cell 
                    [self]=cell
                ></cell>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
