.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .menu{
        background-color: #F0F6FF;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .menu_button{
            width: 18%;
            height: 42px;

            justify-content: center;
            display: flex;

            .icon{
                transform: scale(0.7);
            }
        }

        .open_menu{
            height: 82px;
            width: 100%;
            background-color: #A6CFE2;
            display: flex;

            .back{
                background-color: #708EAA;
                height: 100%;
                width: 30%;

                .mat-button {
                    padding: 0 6px 0 6px;
                    margin: 6px 8px 6px 8px;
                    min-width: 100px;
                    border-radius: 0px;
                    font-size: 14px;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration:none;
                    border: none;
                    outline: none;
                 }

                .icon{
                    transform: scale(0.4);
                    filter: brightness(6%)
                }
            }

            column-gap: 5px;
            .menu-option{
                background-color: #85A8C9;
                display: flex;
                justify-content: center;

                .icon{
                    transform: scale(0.4);
                }
                .legend{
                    font-size:24px;
                }
            }
        }
    }

    .content{
        flex: 1 0 auto;
        background-color: #F0F6FF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        padding:6px;
        width:100%;
        height:100%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        gap: 3px;
        justify-content: flex-start;

        overflow-y: scroll;

        .navbar{
          position: absolute;
          width: 100%;
          top: 2%;
          left: -2%;

          .kelanto{
            position: absolute;
            top: -50%;
            left: 0%;
            width: 361px;
            height: 44px;
            background: #85A8C9;
            border-radius: 5px 5px 0px 0px;

            img{
              height: 24px;
              position: absolute;
              z-index: 99;
              top: 11px;
              left: 88.5%;
              width: 24px;
            }
          }

          .ponaw{
            position: absolute;
            z-index: 90;
            top: -2.5px;
            left: 90%;
            width: 30px;
            height: 35px;
            background: #708EAA;
            border-radius: 5px;
          }

          img{
            position: absolute;
            width: 30px;
            height: 30px;
            top: 2%;
          }

          p{
            position: absolute;
            left: 15%;
            top: 8%;
          }
        }

        .widget-option{
            background-color: #85A8C9;
            width: 49.5%;
            height: 49%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon{
                padding-bottom: 15px;
                margin-top:10px;
            }
        }

        .order-option{
            background-color: #85A8C9;
            width: 49.5%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon{
                padding-bottom: 15px;
                margin-top:10px;
            }
        }

        .order-add{
            font-family: 'Koulen', sans-serif;
            font-style: normal;
            font-size: 18px;

            display: flex;
            justify-content: center;

            width: 100%;
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 80%;
                margin-bottom: 5px;;

                .input{
                    box-sizing: border-box;
                    background: #FFFFFF;
                    border: 5px solid #ECE9E9;
                    border-radius: 10px;
                }

                .address{
                    width: 60%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    margin-bottom: 20px;

                    .title{
                        padding: 5px;
                    }

                    .input{
                        width: 95%;
                    }
                }

                .st_number{
                    width: 31%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .title{
                        padding: 5px;
                    }

                    .input{
                        width: 100%;
                    }
                }

                .floor{
                    width: 60%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .title{
                        padding: 5px;
                    }

                    .options{
                        border-radius: 5px;
                        width:95%;
                        padding-bottom: 0px;
                        font-size: 10px;
                    }
                }

                .zip_code{
                    width: 30%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .title{
                        padding: 5px;
                    }

                    .input{
                        width: 90%;
                    }
                }

                .line{
                    width: 100%;
                    height: 0px;
                    border: 1px solid #A8A8A8;
                }

                .extra{

                    .volume{
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        .title{
                            padding: 5px;
                        }
                        .input{
                            width: 20%;
                        }
                    }

                    .fast{
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        .title{
                            padding: 5px;
                        }
                        .checkbox{
                            padding-top: 5px;
                            margin-left: 20px;
                        }
                    }

                }
                .actions{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 15px;

                    .clear {
                        height: 36px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        background: #B1C8DD;
                        border-radius: 21px;
                    }

                    .submit {
                        height: 36px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        background: #EEAC2D;
                        border-radius: 21px;
                    }

                    .enable {
                        pointer-events: all;
                        cursor: default;
                        background: #EEAC2D;
                    }

                    .disable {
                        pointer-events: none;
                        cursor: default;
                        background: #B1C8DD;
                    }
                }

            }
        }

        .icon_content{
            width: 80%;
            height: 80%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 35px;
            padding-top:25px;
            .main_icon{
                transform: scale(1.5);
            }
            .legend{
                font-size: 24px;
            }
        }
    }
}
