.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .content{
        flex: 1 0 auto;
        background-color: #F0F6FF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
        padding-left:3px;
        width:100%;
        height:100%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        gap: 3px;
        justify-content: flex-start;

        overflow-y: scroll;
        
        .widget-option{
            background-color: #85A8C9;
            width: 48%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon{
                padding-bottom: 15px;
            }
        }

        .order-option{
            background-color: #85A8C9;
            width: 48%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon{
                padding-bottom: 15px;
            }
        }


        .order-add{
            font-family: 'Koulen', sans-serif;
            font-style: normal;
            font-size: 18px;

            display: flex;
            justify-content: center;

            width: 100%;
            .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 80%;
                margin-bottom: 5px;;

                .input{
                    box-sizing: border-box;
                    background: #FFFFFF;
                    border: 5px solid #ECE9E9;
                    border-radius: 10px;
                }

                .address{
                    width: 60%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    margin-bottom: 20px;

                    .title{
                        padding: 5px;
                    }

                    .input{
                        width: 95%;
                    }  
                }
                
                .st_number{
                    width: 31%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .title{
                        padding: 5px;
                    }

                    .input{
                        width: 100%;
                    }
                }

                .floor{
                    width: 60%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .title{
                        padding: 5px;
                    }

                    .options{
                        border-radius: 5px;
                        width:95%;
                        padding-bottom: 0px;
                        font-size: 10px;
                    }
                }

                .zip_code{
                    width: 30%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .title{
                        padding: 5px;
                    }

                    .input{
                        width: 90%;
                    }
                }

                .line{
                    width: 100%;
                    height: 0px;
                    border: 1px solid #A8A8A8;
                }

                .extra{

                    .volume{
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        .title{
                            padding: 5px;
                        }
                        .input{
                            width: 20%;
                        }
                    }

                    .fast{
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        .title{
                            padding: 5px;
                        }
                        .checkbox{
                            padding-top: 5px;
                            margin-left: 20px;
                        }
                    }

                }
                .actions{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 15px;
            
                    .clear {
                        height: 36px;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        background: #B1C8DD;
                        border-radius: 21px;
                    }
                
                    .submit {
                        height: 36px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        background: #EEAC2D;
                        border-radius: 21px;
                    }
                
                    .enable {
                        pointer-events: all;
                        cursor: default;
                        background: #EEAC2D;
                    }
                
                    .disable {
                        pointer-events: none;
                        cursor: default;
                        background: #B1C8DD;
                    }
                }

            }
            
            
        
        }
        
    }
}