<div class="container">

    <div class="menu" *ngIf="this.widget.navbar.active">
        <button  *ngIf="!this.widget.navbar.open" mat-button class="menu_button" (click)="this.toggleMenu()">
            <img src="{{this.imageBasePath + 'snackbar.png'}}" class="icon">
        </button>

        <div  *ngIf="this.widget.navbar.open" class="open_menu">

            <button mat-button class="menu-option" *ngFor="let option of this.widget.navbar.options"
                (click)="onMenuOption(option)">
                <img src="{{getIconPath(option)}}" class="icon">
            </button>

            <button mat-button class="back" (click)="this.toggleMenu()">
                <img src="{{this.imageBasePath + '\\arrows\\3.png'}}" class="icon">
            </button>
        </div>
    </div>

    <!-- Widget options -->
    <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.widget_options">
        <button mat-button class="widget-option" *ngFor="let option of this.widget.content.options"
            (click)="onWidgetOptionClicked(option)">
            <img src="{{getIconPath(option)}}" class="icon">
            <p class=" text text-size-title text-white">{{option}}</p>
        </button>
    </div>

    <!-- Order options -->
    <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.order_options">
        <button mat-button class="order-option" *ngFor="let option of this.widget.content.options"
            (click)="onOrderOptionClicked(option)">
            <img src="{{getIconPath(option)}}" class="icon">
            <p class=" text text-size-title text-white">{{option}}</p>
        </button>
    </div>

    <!-- Order create -->
    <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.create">
        <div class="order-add">
            <div class="container">
                <div class="address">
                    <div class="title">ADDRESS:</div>
                    <input class="input" type="text" [ngModel]="address" (ngModelChange)="canClear();canSubmit();onInput()" id="adr" maxlength="30">
                </div>

                <div class="st_number">
                    <div class="title">ST. NUMBER:</div>
                    <input class="input"  type="text" [ngModel]="st_num" (ngModelChange)="canClear(); canSubmit();onInput()" id="st" maxlength="4">
                </div>

                <div class="floor">
                    <div class="title">FLOOR LEVEL:</div>
                    <mat-form-field class="options" appearance="fill">
                        <mat-select [(ngModel)]="floor" (ngModelChange)="onInput();canClear(); canSubmit()">
                            <mat-option  value="0">GROUND FLOOR</mat-option>
                            <mat-option  value="1">1st Floor</mat-option>
                            <mat-option  value="2">2nd Floor</mat-option>
                            <mat-option  value="3">3nd Floor</mat-option>
                            <mat-option  value="4">4nd Floor</mat-option>
                            <mat-option  value="5">5nd Floor</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="zip_code">
                    <div class="title">ZIP CODE:</div>
                    <input class="input"  type="text" [ngModel]="zip_code" (ngModelChange)="canClear();canSubmit();onInput()"  id="zip" maxlength="6">
                </div>

                <div class="line"></div>

                <div class="extra">

                    <div class="volume">
                        <div class="title">PACKAGE VOLUME:</div>
                        <input class="input" [ngModel]="volume" (ngModelChange)="canClear();canSubmit();onInput()" id="vol" maxlength="6">
                    </div>

                    <div class="fast">
                        <div class="title">FAST DELIVERY:</div>
                        <section class="checkbox">
                            <mat-checkbox id="delivery" [checked]="this.fast" (click)="checkboxClicked()"></mat-checkbox>
                        </section>
                    </div>
                </div>

                <div class="actions">

                    <button mat-button class="clear" (click)="clearAll()"
                            [ngClass]="{enable: canClear()===true, disable: canClear()===false}">
                        CLEAR
                    </button>

                    <button mat-button class="submit" (click)="submit()"
                        [ngClass]="{enable: canSubmit()===true, disable: canSubmit()===false}">
                        Submit
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!-- Order completed -->
    <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.order_completed">
        <div class="icon_content">
            <img src="{{this.imageBasePath + 'completed.png'}}" class="main_icon">
            <div class="legend text">completed orders</div>
        </div>
    </div>


    <!-- Live Map -->
    <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.chosen_live_map">
      <div class="icon_content">
        <img src="{{this.imageBasePath + 'live.png'}}" class="main_icon">
        <div class="legend text">live map</div>
      </div>
    </div>

  <!-- Focus Driver -->
  <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.focus_driver">
    <div class="navbar">
      <button class="ponaw" (click)="this.onMenuOption('backFromFocus')"></button>
      <div class="kelanto">
        <img src="{{this.imageBasePath + 'back.png'}}">
      </div>
      <img src="{{this.imageBasePath + 'single.png'}}">
      <div class="text text-black text-size-content">
        <p>FOCUS DRIVER</p>
      </div>
    </div>
  </div>
</div>
