.container{
    height:100%;
    width:100%;
    max-width: none;
    margin:0;
    padding:2px;
    min-width:31.5vw;

    display: flex;
    flex-direction: column;
    
    .navbar{
        flex: 0 0 70px;
        margin:0;
        padding:0;
        background-color:#698CAD;
        border-radius: 5px 5px 0px 0px;
        
        display: flex;
        flex-direction: row;

        .icon{
            margin-left: 6px;
            width: auto;
            height: 55px;
        }

        .title{
            flex-grow: 50;
            margin-left: 15px;
        }

        .menu{
            background-color: #698CAD;
            flex-grow: 1;
            height: 100%;

            .menu-icon{
                // height:44px !important;
                // width:53px !important;
            }
        }
    }

    .content{
        flex: 1 0 auto;
        background-color: #F0F6FF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: start;
        gap: 3px;
        justify-content: flex-start;
        margin-top: 3px;
        
        .widget-option{
            background-color: #85A8C9;
            width: 33.15%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon{
                padding-bottom: 30px;
            }
        }

        // Orders 
        .title-frame{
            background-color: #85A8C9;
            height: 10%;
            width: 100%;
            margin-right: 3px;

            display: flex;
            flex-direction: row;
            flex-wrap:nowrap;
            justify-content: space-around;
            align-items: center;

            .field{

            }
        }
        .order-list{
            height: 109%;
            width: 100%;
            margin-right: 3px;

            display: flex;
            flex-direction: column;
            flex-wrap:nowrap;
            justify-content: start;
            align-items: center;
            row-gap: 4px;

            .row{
                display: flex;
                flex-direction: row;
                flex-wrap:nowrap;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                box-sizing: border-box;
                background: #FFFFFF;
                border: 1px solid #ECE9E9;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 3px;
            }
        }
    }
}
