<div class="container">

    <!-- Navbar -->
    <div class="navbar">
        <img src="{{this.widget.navbar.title_icon_path}}" class="icon">
        <div class="title text text-size-title text-white">{{this.widget.navbar.title}}</div>
        <button mat-button class="menu" (click)="onMenuClicked()">
            <img src="{{this.widget.navbar.menu_icon_path}}">
        </button>
    </div>

    <!-- Menu options -->
    <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.menu">
        <button mat-button class="widget-option" *ngFor="let option of this.widget.content.options"
            (click)="onMenuOptionClicked(option)">
            <img src="{{getIconPath(option)}}" class="icon">
            <p class="text text-size-title text-white">{{option}}</p>
        </button>
    </div>

    <!-- Widget options -->
    <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.widget_options">
        <button mat-button class="widget-option" *ngFor="let option of this.widget.content.options"
            (click)="onWidgetOptionClicked(option)">
            <img src="{{getIconPath(option)}}" class="icon">
            <p class=" text text-size-title text-white">{{option}}</p>
        </button>
    </div>

    <!-- Order options -->
    <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.order_options">
        <button mat-button class="widget-option" *ngFor="let option of this.widget.content.options"
            (click)="onOrderOptionClicked(option)"
                style="position:relative; height: 50%">
            <img src="{{getIconPath(option)}}" class="icon">
            <p class="text text-size-title text-white">{{option}}</p>
        </button>
    </div>

    <!-- Statistics -->
    <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.statistics_options">
        <button mat-button class="widget-option" *ngFor="let option of this.widget.content.options"
            (click)="onStatisticsOptionClicked(option)">
            <img src="{{getIconPath(option)}}" class="icon">
            <p class="text text-size-title text-white">{{option}}</p>
        </button>
    </div>

    <div *ngIf="this.widget.content.display===WidgetContentOptionsEnum.chosen">
        <ng-container *ngComponentOutlet=content_component></ng-container>
    </div>

  <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.resize">
      <app-resize [wallID]="wallID" [cellID]="cellID"></app-resize>
  </div>

  <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.move">
    <app-move
        [wallID]="wallID"
        [cellID]="cellID"
        [state]="getCurrentState()"></app-move>
  </div>

  <div class="content" *ngIf="this.widget.content.display===WidgetContentOptionsEnum.create">
    <app-create-order [wallID]="wallID" [cellID]="cellID"></app-create-order>
  </div>

</div>
