@font-face{
    font-family: 'Koulen';
    src: url(/assets/fonts/Koulen-Regular.ttf);
}

.main-container{

    /* bgr */
    background: linear-gradient(24.51deg,
            #85A8C9 75.84%,
            #AFC6DB 92.59%,
            #FFFFFF 108.79%);

    width:100vw;
    height: 100vh;

    p{
        font-family: 'Koulen', sans-serif;
        font-style: normal;
    }

    .user-info{
        display: flex;
        position: absolute;
        width: 176px;
        height: 32px;
        left: 20px;
        top: 20px;

        img{
            border-radius: 90px;
        }

        p{
            color: white;
            padding-left: 7px;
            padding-top: 5px;
        }
    }
    .menu-orders{
        .boxes{
            .top-box{
                position: absolute;
                width: 355px;
                height: 44px;
                left: 19px;
                top: 76px;

                background: #698CAD;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px 10px 0px 0px;
            
                img{
                    position: relative;
                    width: 27px;
                    height: 27px;
                    left: 80px;
                    top: 5px;
                }
    
                p{
                    position: relative;
                    font-size: 22px;
    
                    color: white;
                    left: 115px;
                    bottom: 22px;
                }
            }

            .middle-box{
                position: absolute;
                width: 355px;
                height: 632px;
                left: 19px;
                top: 78px;

                background: #F0F6FF;
                border-radius: 10px 10px 0px 0px;
            }
            
            .bottom-box{
                position: absolute;
                width: 357px;
                height: 50px;
                left: 18px;
                top: 673px;

                background: #698CAD;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 0px 0px 10px 10px;        
            
            
                img{
                    position: relative;
                    width: 37px;
                    height: 37px;
                    left: 70px;
                    top: 7.5px;
                }
    
                p{
                    position: relative;
                    font-size: 22px;
    
                    color: white;
                    left: 115px;
                    bottom: 25px;
                }
            }
        }
    }
    .bottom-buttons{
        .clear{
            position: absolute;
            left: 6.15%;
            right: 56.67%;
            top: 88.74%;
            bottom: 3.32%;
    
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            background: #B1C8DD;
            border-radius: 21px;
        }

        .start{
            position: absolute;
            left: 57.18%;
            right: 5.64%;
            top: 88.74%;
            bottom: 3.32%;
            
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            background: #6ECF7D;
            border-radius: 21px;

            p{
                color: black;
            }
        }

        p{
            display: flex;
            line-height: 33px;
            align-items: center;
            height: 67px;
            padding-left: 37px;
        
            font-family: 'Koulen', sans-serif;
            font-style: normal;
            font-size: 18px;
            color: #FBFBFB;

        }
    }
}
