<div class="main-container">
    <div class="grid">
        <mat-grid-list [cols]="3" rowHeight="50%">
            <mat-grid-tile
                *ngFor="let cell of getActiveCells()"
                [colspan]="getColSpan(cell.id)"
                [rowspan]="getRowSpan(cell.id)"
                [ngClass]="{ 'multi-row' : (getRowSpan(cell.id) === 2)}">
                <Cell
                    [self]=cell
                ></Cell>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div class="screen_buttons">
        <button class="text" [ngClass]="isSelectedScreen(1) ? 'selected' : 'unselected'" (click)="selectScreen(1)">LEFT</button>
        <button class="text" [ngClass]="isSelectedScreen(2) ? 'selected' : 'unselected'" (click)="selectScreen(2)">CENTER</button>
        <button class="text" [ngClass]="isSelectedScreen(3) ? 'selected' : 'unselected'"(click)="selectScreen(3)">RIGHT</button>
    </div>
    
    <button class="text grid-button" (click)="setGrid(this.gridFlag)">
        <img [src]="imageBasePath + 'grid.png'">
        <p [ngClass]="this.gridFlag ? 'selected' : 'unselected'">{{this.gridFlag}}</p>
    </button>
    
</div>
