.main-container{
    background-color: #F0F6FF;
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;

    .empty-cell{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        // TODO: For unkown reason these do not apply to cell !?!?
        box-shadow: 10px 200px 5px rgba(0, 0, 0, 0.868);
        border-radius: 5px 5px 0px 0px;

        .mat-fab{
            background: #698CAD;
        }

        button{
          transform: scale(2);
        }

        mat-icon{
          transform: scale(1.5);
        }

        p{
          position: absolute;
          top: 70%;
          font-size: 24px;
        }
    }

    .widget{
        width: 100%;
        height: 100%;

      .middle-alignment{
        position: relative;
        top: 150px;
        margin: auto;
        text-align: center;
        width: 90%;
        padding: 10px;
      }
    }
}
