@font-face{
    font-family: 'Koulen';
    src: url(/assets/fonts/Koulen-Regular.ttf);
}

.main-container{

    /* bgr */
    background: linear-gradient(24.51deg,
            #85A8C9 75.84%,
            #AFC6DB 92.59%,
            #FFFFFF 108.79%);

    width:100vw;
    height: 100vh;

    .logo-middle {
        position: absolute;
        width: 170px;
        height: 170px;
        left: 109px;
        top: 252px;
    }

    .logo-left {
      position: absolute;
      width: 80px;
      height: 120px;
      left: 110px;
      top: 300px;
    }

    .logo-right {
      position: absolute;
      width: 80px;
      height: 120px;
      left: 200px;
      top: 275px;
    }

    .description{
        position: absolute;
        width: 248px;
        height: 18px;
        left: 160px;
        top: 440px;

        font-family: 'Koulen', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
    }
}
