<div class="content">
  <div class="title-frame text text-white">
    <div *ngFor="let field of fields;let i=index;"
         [ngClass]="{id:i===0,address:i===1,st:i===2,zip:i===3,floor:i===4,volume:i===5,time:i===6}">
      {{field}}
    </div>
  </div>
  <div class="order-list">
    <button class="row" *ngFor="let row of orders"  (click)="onClick(row)">
        <div  class="text text-size-content text-black" *ngFor="let field of row;let i=index;"
            [ngClass]="{id:i===0,address:i===1,st:i===2,zip:i===3,floor:i===4,volume:i===5,time:i===6}">
          {{field}}
      </div>
      <div class="delete">
        bb
      </div>
    </button>
  </div>
</div>
