/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.text{
    font-family: 'Koulen';
    font-style: normal;
}


.text-size-title{
    font-size: 40px;
}
.text-size-content{
    font-size: 22px;
}

// Colors 
.text-white{
    color: #FBFBFB;
}
.text-black{
    color: #464646;
}

@font-face{
    font-family: 'Koulen';
    src: url(/assets/fonts/Koulen-Regular.ttf);
}