.content{
    height:87%;
    width:100%;
    background-color: #F0F6FF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: start;
    gap: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-bottom: 3px;

    .title-frame{
        background-color: #85A8C9;
        height: 10%;
        width: 100%;
        margin-right: 3px;

        display: flex;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content: space-around;
        align-items: center;
        font-size: 25px;
        .field{

        }
    }
    
    .order-list{
        height: 109%;
        width: 100%;
        margin-right: 3px;

        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content: start;
        align-items: center;
        row-gap: 4px;
        font-size: 22px;

        .row{
            display: flex;
            flex-direction: row;
            flex-wrap:nowrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            box-sizing: border-box;
            background: #FFFFFF;
            border: 1px solid #ECE9E9;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 3px;
        }
    }
}    