.content{
  .driver-content{
    position: relative;

    .titles{
      position: relative;

      max-width: 100%;
      bottom: -30px;
      left: 65%;
      font-size: 25px;
    }
  }

  .title-bar{
    box-sizing: border-box;

    position: absolute;
    width: 641px;
    height: 32px;
    left: 2px;
    top: 75px;

    background: #698CAD;
    border-top: 1px solid #000000;
    border-radius: 0px;

    .titles{
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap:nowrap;

      max-width: 100%;
      bottom: 2px;
      left: 5px;
      font-size: 25px;
    }
  }

  .line-right{
    position: absolute;
    width: 471px;
    height: 0px;
    left: 36%;
    top: 320px;

    border: 1px solid #464646;
    transform: rotate(90deg);
  }
}
